{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>All Products:</h2>
        <ul>
            {% if product_list %}
                {% for product in product_list %}
                    <h3>{{product.name}}</h3>
                    Rs.{{product.price}} | 
                    {{ product.avg_rating }} Star(s) |
                    {{ product.rating_score }} <a href="{% url 'detail' product.id %}">View Product</a> 
                    <hr>
                {% endfor %}
            {% else %}
                <p>No Products Yet !!!</p>
            {% endif %}
        </ul>   
        <a href="{% url 'home' %}">Back</a>
    </div>
{% endblock content %}